<configuration>

    <appender name="aiAppender"
              class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>85ec8e79-5463-4c1a-b0e3-5ee91d8ca1c9</instrumentationKey>
    </appender>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


    <root level="trace">
        <appender-ref ref="aiAppender"/>
    </root>

<!--    <root level="info">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->

</configuration>
